<div class="addLocation">
    <form #form="ngForm" (submit)="onSubmit()">
        <input type="text" placeholder="Search" name="city" [(ngModel)]="cityName">
    </form>
</div>

<!-- weather card component -->
<ng-container>
    <div class="container">
        
        
        <div class="weatherdata">
            <div class="weathericon">
                <img src="{{icon}}" alt="weather icon">
            </div>
           
            <div class="city">{{prevCityName}}</div>
            <div class="temp">{{ temp | number: '1.0-0' }}ºF</div>
        </div>
    </div>
</ng-container>  